@import './variables.scss';



  body {
    margin: auto;
    width: 100%;
    border-radius: 15px;
    $font-title: "Shrikhand", cursive;
    $text-desc: #353535;
    $color-primary: #9356dc;
    $color-secondary: #ff79da;
    $color-tertiary: #99e2d0;
    $shadow-card: rgba(0, 0, 0, 0.25) 0px 15px 30px -12px;
    $light-grey: #F5F5F5;
    $grey: #E0E0E0;
    $shadow: inset 0 7px 10px -6px grey;
    $shadowout: 0 7px 10px -6px grey;
    }
  /*Style header*/
  .logoheader .logo  {
    text-align: center;
    font-size: 60px;
    font-family: 'Shrikhand', sans-serif;
    padding-bottom: 30px;
    padding-top: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  .location {
   display: flex;
   flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: #E0E0E0;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: inset 0 7px 10px -6px grey;
    font-weight: 700;
    font-size: 30px;
  }
  .location .fasgps {
    padding-right: 10px;
  }
  a{
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  p{
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  element.style {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  i {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  .introduction{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .reservation{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .selection{
    text-align: center;
    padding: 15px 30px 30px 30px ;
    font-size: 27px;
  }
  .to_explore{
   text-align: center;
   padding-bottom: 50px;
  }
  .btnexplor{
    background: linear-gradient(337deg, #ec5cbd 31%, #DA70D6 88%);
    padding: 25px 30px;
    border-radius: 50px 50px;
    border: none;
    color: white;
    font-weight: 700;
    box-shadow: 0 7px 10px -6px grey;
    width: 280px;
    margin-top: 30px;
    background-size: 450%;
    transition: 0.3s all ease-in-out;
    text-align: center;
    font-size: 20px;
  }
  .btnexplor:hover{
    transition: 0.3s all ease-in-out;
    box-shadow: 0 7px 10px -6px grey;
    cursor: pointer;
    background-position: right top;
  }
  .functioning {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
  }
  .steps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }
  .step {
    margin-left: 20px;
    width: auto;
    padding-bottom: 30px;
    margin-right: 20px;
  }
  .step:hover .choicebtn, .step:hover .compositionbtn, .step:hover .tastingbtn {
    background-color: #DDA0DD;
  }
  a {
    text-decoration: none;
  } 
  .choicebtn, .compositionbtn, .tastingbtn{
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 15px;
    border-radius: 25px 25px;
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: 0 7px 10px -6px grey;
    background-color: #F5F5F5;
  }
  .number {
    background-color: #9356DC;
    border-radius: 50%;
    height: 3px;
    padding: 8px 15px 8px 15px;
    width: 3px;
    color: white;
    margin-left: -13px;
    line-height: 5px;
    font-style: normal;
    font-size: 18px;
  }
  .fa-mobile-alt {
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    font-size: 18px;
  }
  .fa-list {
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    font-size: 18px;
  }
  .fa-store {
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    font-size: 18px;
  }
  .fa-store:hover{
    color: #BA55D3;
  }
  .fbtn{
    font-size: 18px;
    font-weight: 700;
  }
  .restaurants{
    background-color: #F5F5F5;
    width: 100%;
  
    .restaurant{
      width: 100%;
      font-size: 2em;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 30px;
      font-weight: 700;
      }
  }  
  .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0;
    padding-bottom: 40px;
    margin-right: 15px;
    margin-left: 15px;
      .card{
      border-radius: 20px;
      background-color: #F5F5F5;
      overflow: hidden;
      height: 330px;
      color: black;
      text-decoration: none;
      margin: 20px 20px;
      width: auto;
      }
      .card img{
        width: 100%;
        height: 70%;
        }    
      .card:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        }
      .btnnew {
        border: none;
        background-color: #99E2D0;
        color: darkcyan;
        padding: 7px 32px;
        text-decoration: none;
        font-size: 16px;
        margin: 10px 10px;
        cursor: pointer;
        font-weight: 700;
        border-radius: 3px 3px 3px 3px;
        position: absolute;
      }
      .card_detail {
        color: black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        background-color: white;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 7px 10px -6px grey;
        -webkit-box-shadow: 0 7px 10px -6px grey;
        box-shadow: 0 7px 10px -6px grey;
        width: 100%;
      }
      .card_name {
        width: 80%;
        padding-top: 0;
        padding-bottom: 15px;
        padding-left: 15px;
          h2{
            margin-bottom: 10px;
            font-size: 18px;
          }
          p{
            font-size: 17px;
           }
      }  
      .heart {
        width: 20%;
        font-size: 30px;
        padding-top: 15px;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
          }
  }    
  .heart > .far + .fas,
  .heart:hover > .far {
    display: none;
    background: linear-gradient(337deg, #f499fb 31%, #ec5cbd 88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  .heart:hover > .far + .fas {
    display: inherit;
  }
  footer{
    padding-bottom: 40px;
    background-color: black;
    padding-left: 0;
    color: white;
    width: 100%;
      a{
        color: white;
      }
    .logoend{
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 40px;
      font-family: 'Shrikhand', sans-serif;
      }
      .fa-utensils {
        padding-right: 13px;
      }
      .fa-handshake {
        padding-right: 7px;
        padding-bottom: 5px;
        }
      .commercial_link {
        padding-bottom: 5px;
        text-align: center;
        font-size: 30px;
      }
      .commercial_linktwo {
        text-align: center;
        font-size: 30px;
      }
     .information {
        padding-bottom: 5px;
        text-align: center;
        font-size: 30px;
      }
      .contact {
        padding-bottom: 30px;
        text-align: center;
        font-size: 30px;
      }
  }    

/*pages restaurants*/
  .picture{
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    object-fit: cover;
    cursor: pointer;
    background-size: 100% 100%;
  }
  .picture:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  .fa-arrow-left {
    float: left;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 27px;
    color: black;
  }
  .logo{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .firstline{
    background-color: #F5F5F5;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    
  
  }
  .presentations{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50px 50px 0 0;
    background-color: #f5f5f5;
    margin-top: -50px;
  }
  .presentation{
    font-family: 'Shrikhand', sans-serif;
    font-style: italic;
    font-size: 40px;
    padding-left: 15px;
    padding-right: 45px;
    padding-top: 40px;
  }
  .heart{
    padding-left: 20px;
    font-size: 40px;
    padding-top: 40px;
  }
  .title{
    padding-bottom: 0;
    padding-left: 15px;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  h3{
    display: inline-block;
    border-bottom: 3px solid #99E2D0;
    width: 40px;
    padding-top: 20px;
    font-size: 25px;
  }
  .secondline{
    background-color: #F5F5F5;
  }
  .meals{
    display: flex;
    flex-direction: row;
    border-radius: 15px 15px;
    background-color: white;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: 0 7px 10px -6px grey;
    -webkit-box-shadow:0 7px 10px -6px grey;
    margin: 5px 20px 20px 20px;
    justify-content: space-between;
    animation: fadein 5s;
      -moz-animation: fadein 5s; /* Firefox */
      -webkit-animation: fadein 5s; /* Safari et Chrome */
      -o-animation: fadein 5s; /* Opera */
  }
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
   
  
.food h4{
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;  
}
.food p{
 font-size: 20px;
 padding-left: 10px;
 padding-bottom: 10px;
 overflow: hidden;
 text-overflow: ellipsis;
}
.meals .price {
  padding-top: 70px;
  padding-right: 26px;
  animation: run1b 1s 1;
  -webkit-animation: ran1b 1s 1;
  font-size: 20px;
}
@keyframes ran1b {
  0% {
      transform: translate(-60px);
  }
  100% {
      transform: translate(0px);
  }
}

.meals .price:hover{
  padding-top: 25px;
  padding-right: 26px;
  right:65px;
  animation: run1 1s 1  forwards;
  -webkit-animation: run1 1s 1 forwards;
  }
  @keyframes run1 {
    0% {
        transform: translate(65px);
    }
    100% {
        transform: translate(0px);
    }
  }
  
.meals .btn_circle .fa-check
{
  animation: runb 1s 1 ;
  color:white;
  width:15px;
  height:15px;
  opacity: 0;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 40%;
  right: 0px;
}
@keyframes runb {
  0% {
      opacity: 1;
      transform: translate(-15px);
      transform: rotate(360deg);
  }
  100% {
      opacity: 0;
      transform: rotate(0deg);
  }
}

.meals .btn_circle .fa-check:hover {
  animation: run 1s 1 forwards;
  -webkit-animation: run 1s 1 forwards;
  opacity: 1; 
  right: 15px;
  opacity: 100;
  
}  
  @keyframes run {
    0% {
        opacity: 0;
        transform: translate(0px);
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: translate(-15px);
        transform: rotate(360deg);
    }
  }
   
.meals .btn_circle
{
  height: 100%;
  position: absolute;
  background-color: #96DED1;
  width: 0px;
  padding-bottom: 0px;
  right: 0;
  float: right;
  border-radius: 0px 15px 15px 0px;
  animation: widthgrowb 1s 1 ;
  -webkit-animation: widthgrowb 1s 1;
}
@-webkit-keyframes widthgrowb {
  0% {
      width: 0px;
    }
    100% {
      width: 65px;
    }
  }
  @keyframes widthgrowb {

    0% {
        width: 65px;
      }
      100% {
        width: 0px;
      }
}

.meals .btn_circle:hover {
  height: 100%;
  border-radius: 0px 15px 15px 0px;
  animation: widthgrow 1s 1 ease forwards;
  -webkit-animation: widthgrow 1s ease 1 forwards;
}
@-webkit-keyframes widthgrow {
  0% {
    width: 0;
  }
  100% {
    width: 65px;
  }
}
@keyframes widthgrow {

  0% {
      padding-bottom: 5px;
      width: 0px;
    }
    100% {
      padding-bottom: 5px;
      width: 65px;
    }
}
@-webkit-keyframes widthgrow {
  0% {
    width: 0;
  }
  100% {
    width: 65px;
  }
}
.order{
  background: linear-gradient(337deg, #ec5cbd 31%, #DA70D6 88%);
  padding: 20px 30px 20px 30px;
  border-radius: 50px 50px;
  border: none;
  color: white;
  font-weight: 700;
  box-shadow: 0 7px 10px -6px grey;
  width: 320px;
  margin-top: 60px;
  background-size: 450%;
  transition: 0.3s all ease-in-out;
  text-align: center;
  font-size: 28px;
}
.order:hover{
  transition: 0.3s all ease-in-out;
  box-shadow: 0 7px 10px -6px grey;
  cursor: pointer;
  background-position: right top;
}

footer{
  padding-top: 40px;
}
.commercial_link, .commercial_linktwo, 
.information, .contact{
  padding-top: 20px;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  margin-top: -15px;
  background-color: #eaeaeaf6;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
.primary-circle {
  width: 150px;
  height: 150px;
  border: 4px solid #DDA0DD;
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: rotate 1.5s infinite;
}

.secondary-circle {
  animation: rotate 1.5s infinite 0.1s;
  width: 120px;
  height: 120px;
  border: 4px solid #DA70D6;
  border-top: 4px solid transparent;
  border-radius: 50%;
  position: absolute;
}

.tertiary-circle {
  animation: rotate 1.5s infinite 0.2s;
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-top: 4px solid transparent;
  border-radius: 50%;
  position: absolute;
}
@keyframes rotate {
  from {
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

}
@media (min-width: 1024px) and (max-width: 1429.98px){
  .fa-mobile-alt {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
  }
  .fa-list {
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    font-size: 15px;
  }
  .fa-store {
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    font-size: 15px;
  }
  .number{
    font-size: 15px;
  }
  .fbtn{
    font-size: 15px;
    font-weight: 600;
  }

  /*page restaurant */
  .picture{
    width: 100%;
    height: 590px;
  }
  .logoheader{
    .logo{
      padding-top: 20px;
      padding-bottom: 20px;

    }
  }
  .fa-arrow-left{
    font-size: 35px;
    padding: 40px 20px 20px 40px;
  }
  .heart{
    padding-right: 100px;
  }
  
}

@media (min-width: 650px) and (max-width: 1023.98px){
  /*page accueil*/
 
 .logoheader .logo{
   font-size: 40px;
 }
    .location{
      .fasgps{
        font-size: 25px;
      }
      a{
        font-size: 25px;
      }
  }
  .reservation{
    font-size: 29px
  }
  .selection{
    font-size: 23px;
  }
  .to_explore .btnexplor{
    width: 260px;
  }
  .steps{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cards{
    margin: 20px 20px;
  }
  .cards .card{
    height: 300px;
  }
  .card_detail p{
    font-size: 17px;
    margin-bottom: 5px;
  }
  .card_detail h2{
    font-size: 1.2em;
  }
  .heart{
    font-size: 37px;
  }

/*pages restaurants*/
  .logoheader{
    .logo{
      padding-top: 20px;
    }
  }
  .picture{
    height: 390px;
  }
  .presentation{
    font-size: 35px;
    padding-left: 20px;
  }
  .heart{
    font-size: 32px;
    padding-right: 20px;
  }
}  


@media (min-width: 375px) and (max-width: 648.98px){
  /*page accueil*/
  body{
    width: auto;
  }
  .logoheader .logo{
    font-size: 40px;
  }
  .fasgps{
    font-size: 21px;
  }
  .location a{
    font-size: 22px;
  }
  .reservation {
    font-size: 25px;
    text-align: center;
  }
  .selection{
    padding: 0 30px 5px 30px;
      P{
        font-size: 22px;
      }
  }
  .btnexplor{
    font-size: 18px;
    padding: 15px 5px 15px 5px;
  }  
  .functioning{
    font-size: 22px;
    margin-left: 15px;
    text-align: start;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .steps {
    flex-direction: column;
    display: flex;
  
      .steps .step {
        margin-left: 25px;
        margin-right: 25px;
        width: auto;
        padding-bottom: 10px;
      }
      .fa-list, .fa-store, .fa-mobile-alt {
        font-size: 18px;
      }
    }
      
  .fa-list:hover, .fa-store:hover, .fa-mobile-alt:hover {
    color: #BA55D3;
  }
  .fbtn{
    font-size: 16px;
    font-weight: 700;
    }
    .choicebtn, .compositionbtn, .tastingbtn{
      padding-top: 25px;
      padding-bottom: 25px; 
    }
  .restaurants{
      margin-top: 30px;
      .restaurant{
        font-size: 23px;
        font-weight: 700;
        text-align: start;
        padding-top: 55px;
        padding-bottom: 0;
        padding-left: 35px;
      }
    }  
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 5px;
    padding-bottom: 30px;
    margin-bottom: 0;
  
     .card{
        height: 260px;
      }
      .card img{
        height: 68%;
      }
      .btnnew {
        padding: 7px 15px;
        position: relative;
        font-size: 14px;
        margin: 10px 10px;
        cursor: pointer;
        font-weight: 100;
      }
      .card_detail {
        color: black;
        display: flex;
        flex-direction: row;
        background-color: white;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 7px 10px -6px grey;
        margin-bottom: 15px;
        width: 100%;
        height: 32%;
      }
        .card_name {
          width: 80%;
          padding-top: 0;
          padding-bottom: 15px;
          padding-left: 15px;
            h2{
              font-size: 20px;
              margin-bottom: 0;
            }
            p{
              font-size: 19px;
            }
        }
        .heart {
          font-size: 25px;
          padding-top: 20px;
          font-weight: lighter;
        }
    }    
  footer{
    padding-top: 23px;
    padding-bottom: 20px;
        
        .logofooter .logoend{
          text-align: start;
          padding: 10px 0 10px 15px;
          font-size: 16px;
        }
        .commercial_link, .commercial_linktwo,
        .information {
          text-align: start;
          padding: 10px 0 0 15px;
          font-size: 15px;
          }
          .contact{
            text-align: start;
            font-size: 15px;
            padding: 10px 0 50px 15px;
          } 
          .fa-utensils {
            padding-right: 12px;
          }
          .fa-handshake {
            padding-right: 7px;
            padding-bottom: 5px;
          }
    }      
 
  /*Pages restaurants*/
  .logoheader{
    .logo{
      font-size: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    a{
      .fa-arrow-left{
        font-size: 22px;
        padding-top: 23px;
      }
    }
  }
  .picture{
    height: 260px;
    object-fit: cover;
  }
  .presentation{
     font-size: 22px;
     padding-left: 15px;
   }
   .heart{
     padding-top: 35px;
     text-align: left;
     padding-right: 60px;
     font-size: 30px;
    }
   h3{
     font-size: 19px;
     font-weight: normal;
   }
   .food{
        h4{
        font-size: 19px;
        margin-top: 15px;
      }
      p{
        font-size: 14px;
      }
  } 
  .meals .price{
    font-size: 15px;
    padding-top: 50px;
  }  
  .to_explore{
    .order{
      font-size: 18px;
      width: 200px;
      padding: 15px 20px;
    }
  } 
}
/*# sourceMappingURL=main.css.map */
