body {
  margin: 0 auto;
  width: 100%;
  border-radius: 15px;
}

/*Style header*/
.logo {
  text-align: center;
  font-size: 40px;
  font-family: "Shrikhand", sans-serif;
  padding-bottom: 10px;
  padding-top: 10px;
}

.location {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: #E0E0E0;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: inset 0 7px 10px -6px grey;
  font-weight: 700;
}

.fasgps {
  padding-right: 10px;
}

a {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

p {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

element.style {
  margin-top: 0px;
  margin-bottom: 0px;
}

i {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.introduction {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
}

.selection {
  text-align: center;
  padding: 15px 30px 30px 30px;
}

.to_explore {
  text-align: center;
  padding-bottom: 50px;
}

.btnexplor {
  background: linear-gradient(337deg, #ec5cbd 31%, #DA70D6 88%);
  padding: 15px 30px 15px 30px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  color: white;
  font-weight: 700;
  box-shadow: 0 7px 10px -6px grey;
  width: 220px;
  margin-top: 30px;
  background-size: 450%;
  transition: 0.3s all ease-in-out;
  text-align: center;
}

.btnexplor:hover {
  transition: 0.3s all ease-in-out;
  box-shadow: 0 7px 10px -6px grey;
  cursor: pointer;
  background-position: right top;
}

.functioning {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: auto;
}

.step {
  margin-left: 35px;
  width: auto;
  padding-bottom: 30px;
  margin-right: 35px;
}

.step:hover .choicebtn, .step:hover .compositionbtn, .step:hover .tastingbtn {
  background-color: #D8BFD8;
}

a {
  text-decoration: none;
}

.choicebtn, .compositionbtn, .tastingbtn {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 15px;
  border-radius: 15px 15px 15px 15px;
  width: 100%;
  border: none;
  box-shadow: 0 7px 10px -6px grey;
  background-color: #F5F5F5;
}

.number {
  background-color: #9356DC;
  border-radius: 50%;
  height: 3px;
  padding: 8px 15px 8px 15px;
  width: 3px;
  color: white;
  margin-left: -13px;
  line-height: 5px;
  font-style: normal;
  font-size: 18px;
}

.fa-mobile-alt {
  padding-left: 15px;
  padding-right: 15px;
  color: grey;
  font-size: 18px;
}

.fa-list {
  padding-left: 15px;
  padding-right: 15px;
  color: grey;
  font-size: 18px;
}

.fa-store {
  padding-left: 15px;
  padding-right: 15px;
  color: grey;
  font-size: 18px;
}

.fbtn {
  font-size: 18px;
  font-weight: 700;
}

.restaurants {
  background-color: #F5F5F5;
  width: 100%;
}

.restaurants .restaurant {
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: 700;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 60px;
}

.img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cards .card {
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  border: 4px solid white;
  height: 350px;
  box-shadow: 0 0 10px grey;
  color: black;
  text-decoration: none;
  margin: 5px 25px 20px 20px;
  width: 90%;
}

.card img {
  width: 100%;
  height: 70%;
}

.card:hover {
  transform: scale(1.1);
}

.btnnew {
  border: none;
  background-color: #99E2D0;
  color: darkcyan;
  padding: 7px 32px;
  text-decoration: none;
  font-size: 16px;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 3px 3px 3px 3px;
  position: absolute;
}

.img1 {
  background-image: url("../pictures/lapalettedugout.jpg");
  border-radius: 15px 15px 0 0;
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img2 {
  background-image: url("../pictures/lanote.jpg");
  border-radius: 15px 15px 0 0;
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img3 {
  background-image: url("../pictures/alafrancaise.jpg");
  border-radius: 15px 15px 0 0;
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img4 {
  background-image: url("../pictures/ledelice.jpg");
  border-radius: 15px 15px 0 0;
  height: 350px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card_detail {
  color: black;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 7px 10px -6px grey;
  box-shadow: 0 7px 10px -6px grey;
  margin-bottom: 15px;
  width: 100%;
}

.card_name {
  width: 80%;
  padding-top: 0;
  padding-bottom: 15px;
  padding-left: 15px;
}

.heart {
  width: 20%;
  font-size: 30px;
  padding-top: 20px;
  font-weight: 400;
  text-align: center;
}

.heart > .far + .fas,
.heart:hover > .far {
  display: none;
  background: linear-gradient(337deg, #f499fb 31%, #ec5cbd 88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart:hover > .far + .fas {
  display: inherit;
}

footer {
  background-color: black;
  padding-left: 0;
  color: white;
  width: 100%;
}
footer a {
  color: white;
}

.logoend {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 40px;
  font-family: "Shrikhand", sans-serif;
}

.fa-utensils {
  padding-right: 13px;
}

.fa-handshake {
  padding-right: 7px;
  padding-bottom: 5px;
}

.commercial_link {
  padding-bottom: 5px;
  text-align: center;
  font-size: 30px;
}

.commercial_linktwo {
  text-align: center;
  font-size: 30px;
}

.information {
  padding-bottom: 5px;
  text-align: center;
  font-size: 30px;
}

.contact {
  padding-bottom: 30px;
  text-align: center;
  font-size: 30px;
}

/*pages restaurants*/
.picture {
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  background-size: 100% 100%;
}

.picture:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.fa-arrow-left {
  float: left;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 17px;
}

.firstline {
  background-color: #F5F5F5;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.presentation {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-size: 40px;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 30px;
}

.presentations .heart {
  padding-left: 20px;
}

.title {
  padding-bottom: 0;
  padding-left: 30px;
  padding-top: 20px;
}

h3 {
  display: inline-block;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-top: 20px;
}

.secondline {
  background-color: #F5F5F5;
}

.meals {
  display: flex;
  flex-direction: row;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0 7px 10px -6px grey;
  -webkit-animation: appear 5s;
          animation: appear 5s;
  -moz-animation: appear 5s;
  -o-animation: appear 5s;
  -ms-animation: apper 5s;
  margin: 5px 20px 20px 20px;
  justify-content: space-between;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
h4 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}

.food p {
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.meals:hover .price {
  padding-top: 25px;
  padding-right: 26px;
  padding-left: 150px;
  -webkit-animation: fan 1s 1;
  animation: fan 1s 1;
}

.price {
  padding-top: 60px;
  padding-right: 30px;
  -webkit-animation: fun 1s 1;
          animation: fun 1s 1;
}

.btn_circle {
  height: 100%;
  position: absolute;
  background-color: #96DED1;
  width: 0px;
  padding-bottom: 0px;
  right: 0;
  float: right;
  border-radius: 0px 15px 15px 0px;
}

.fa-check-circle {
  color: white;
  width: 15px;
  height: 15px;
  opacity: 0;
  transition: all 5s 1;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 40%;
  right: 0px;
  -webkit-animation: moving 1s 1;
          animation: moving 1s 1;
}

.order {
  background: linear-gradient(337deg, #ec5cbd 31%, #DA70D6 88%);
  padding: 15px 30px 15px 30px;
  border-radius: 30px 30px 30px 30px;
  border: none;
  color: white;
  font-weight: 700;
  box-shadow: 0 7px 10px -6px grey;
  width: 220px;
  margin-top: 30px;
  background-size: 450%;
  transition: 0.3s all ease-in-out;
  text-align: center;
  font-size: 18px;
}

.order:hover {
  transition: 0.3s all ease-in-out;
  box-shadow: 0 7px 10px -6px grey;
  cursor: pointer;
  background-position: right top;
}

.price:hover {
  padding-top: 25px;
  padding-right: 26px;
  right: 65px;
  -webkit-animation: fanny 1s 1 forwards;
          animation: fanny 1s 1 forwards;
}

.btn_circle:hover {
  border-radius: 0px 15px 15px 0px;
  animation: circle 1s 1 ease forwards;
  -webkit-animation: cirle 1s ease 1 forwards;
  height: 100%;
}

.fa-check-circle:hover {
  -webkit-animation: move 1s 1 forwards;
  animation: move 1s 1 forwards;
  opacity: 1;
  right: 15px;
  opacity: 100;
}

@-webkit-keyframes circle {
  0% {
    padding-bottom: 5px;
    width: 0px;
  }
  100% {
    padding-bottom: 5px;
    width: 65px;
  }
}

@keyframes circle {
  0% {
    padding-bottom: 5px;
    width: 0px;
  }
  100% {
    padding-bottom: 5px;
    width: 65px;
  }
}
@keyframes circle {
  0% {
    width: 65px;
  }
  100% {
    width: 0px;
  }
}
@-webkit-keyframes move {
  0% {
    opacity: 0;
    transform: translate(0px);
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translate(-15px);
    transform: rotate(360deg);
  }
}
@keyframes move {
  0% {
    opacity: 0;
    transform: translate(0px);
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translate(-15px);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes moving {
  0% {
    opacity: 1;
    transform: translate(-15px);
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}
@keyframes moving {
  0% {
    opacity: 1;
    transform: translate(-15px);
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes fanny {
  0% {
    transform: translate(65px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes fanny {
  0% {
    transform: translate(65px);
  }
  100% {
    transform: translate(0px);
  }
}
@-webkit-keyframes fan {
  0% {
    transform: translate(-60px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes fan {
  0% {
    transform: translate(-60px);
  }
  100% {
    transform: translate(0px);
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
  margin-top: -15px;
  background-color: #eaeaeaf6;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes spin {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes spin {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
.primary-circle {
  width: 150px;
  height: 150px;
  border: 4px solid #DDA0DD;
  border-top: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotate 1.5s infinite;
          animation: rotate 1.5s infinite;
}

.secondary-circle {
  -webkit-animation: rotate 1.5s infinite 0.1s;
          animation: rotate 1.5s infinite 0.1s;
  width: 120px;
  height: 120px;
  border: 4px solid #DA70D6;
  border-top: 4px solid transparent;
  border-radius: 50%;
  position: absolute;
}

.tertiary-circle {
  -webkit-animation: rotate 1.5s infinite 0.2s;
          animation: rotate 1.5s infinite 0.2s;
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-top: 4px solid transparent;
  border-radius: 50%;
  position: absolute;
}

@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1074px) {
  .fa-mobile-alt {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
  }

  .fa-list {
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    font-size: 15px;
  }

  .fa-store {
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    font-size: 15px;
  }

  .number {
    font-size: 15px;
  }

  .fbtn {
    font-size: 15px;
    font-weight: 600;
  }
}
@media screen and (max-width: 1024px) {
  .steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards {
    margin: 20px 20px;
  }

  .cards .card {
    height: 300px;
  }

  .card_detail p {
    font-size: 17px;
    margin-bottom: 5px;
  }

  .card_detail h2 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 646px) {
  .steps {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .fa-mobile-alt {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
  }

  .fa-list {
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    font-size: 16px;
  }

  .fa-store {
    padding-left: 15px;
    padding-right: 15px;
    color: grey;
    font-size: 16px;
  }

  .number {
    font-size: 16px;
  }

  .fbtn {
    font-size: 17px;
    font-weight: 600;
  }

  .restaurants .restaurant {
    text-align: start;
    margin-left: 15px;
  }

  /* Pages restaurants*/
  .logoend, .commercial_link, .commercial_linktwo, .information, .contact {
    text-align: start;
    padding-left: 15px;
    font-size: 21px;
  }

  .presentation {
    font-size: 29px;
  }
}
@media screen and (max-width: 376px) {
  body {
    width: auto;
  }

  /*Hedear style*/
  .logo {
    font-size: 25px;
  }

  .location a {
    font-size: 15px;
  }

  /*Main style*/
  .reservation {
    font-size: 23px;
    text-align: center;
  }

  .btnexplor {
    font-size: 15px;
  }

  .functioning {
    font-size: 23px;
    margin-left: 15px;
  }

  .steps {
    flex-direction: column;
    display: flex;
  }

  .steps .step {
    margin-left: 25px;
    margin-right: 25px;
    width: auto;
    padding-bottom: 10px;
  }

  .fa-list .fa-store .fa-mobile-alt {
    font-size: 11px;
  }

  .number {
    font-size: 11px;
  }

  .fbtn {
    font-size: 17px;
    font-weight: 400;
  }

  .restaurants .restaurant {
    font-size: 23px;
    font-weight: 700;
    text-align: start;
    margin-left: 15px;
  }

  .restaurants {
    margin-top: 40px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .cards .card {
    height: 220px;
  }

  .card img {
    height: 68%;
  }

  .btnnew {
    padding: 7px 15px;
    position: relative;
    font-size: 14px;
    margin: 10px 10px;
    cursor: pointer;
    font-weight: 100;
  }

  .card_detail {
    color: black;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 7px 10px -6px grey;
    margin-bottom: 15px;
    width: 100%;
    height: 32%;
  }

  .card_name {
    width: 80%;
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  .heart {
    font-size: 20px;
    padding-top: 15px;
    font-weight: lighter;
  }

  .card_name h2 {
    font-size: 14px;
  }

  .card_name p {
    font-size: 12px;
  }

  /*Footer style*/
  .logoend, .commercial_link, .commercial_linktwo, .information, .contact {
    text-align: start;
    padding-left: 15px;
    font-size: 20px;
  }

  /*page restaurant*/
  .presentation {
    font-size: 28px;
  }

  h3 {
    font-size: 15px;
  }

  /* pages restaurants*/
}
/*# sourceMappingURL=styles.css.map *//*# sourceMappingURL=styles.css.map */