
$color-primary: #9356dc;
    $color-secondary: #ff79da;
    $color-tertiary: #99e2d0;
$font: 'Roboto', sans-serif;
$font-title: "Shrikhand", cursive;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
   );






