$height: 200px;
$width: 100%;
$w40: 40%;
$w100: 100%;
$left: left;
$right: right;
$center: center;
$column: column;
$temp:1fr 1fr;
$ff: row warp;
$flex: flex;
$grid: grid;
$dinline: inline-block;
$flexdrow: row;
$btnexplorintroduction: linear-gradient(337deg, rgba(244,153,251,1) 31%, rgba(236,92,189,1) 88%);
$heightloc: 30px;
$white: white;
$greyd: grey;
$grey: #E0E0E0;
$light-grey: #F5F5F5;
$purp: #9356DC;
$color-primary: #9356dc;
    $color-secondary: #ff79da;
    $color-tertiary: #99e2d0;

$shadow: inset 0 7px 10px -6px grey;
$shadowout: 0 7px 10px -6px grey;
$font: 'Roboto', sans-serif;
$fsize: 20px;
$fsize2: 25px;
$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
   );






